doctype html
html(lang="en")
block vars
	head
		block head
			include ./head
	body
		#outer
			#inner
				#header
					block header
						include ./header
				#body
					block body
				#footer
					block footer
						include ./footer
		block script
