*, *:before, *:after {
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	font-family: Poiret One, sans-serif;
	font-weight: 100;
	background-color: #222;
    background: url(../images/background.jpg);
	color: #bbb;
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
	padding: 0;
	margin: 0;
	height: 100%;
	align-items: center;
	box-sizing: 0;
  	background-size: cover;
}
a {
	color: #ddd;
	text-decoration: none;
}
a:hover {
	color: #fff;
	text-decoration: underline;
}
h1, h2, h3, h4 {
	font-weight: normal;
}
h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.8rem;
}
h3 {
	font-size: 1.6rem;
}
#main {
	min-height: 30rem;
	width: 100%;
	padding: 2rem 4rem;
	order: -1;
	flex-grow: 2;
	width: 100%;
	-transform-origin: center left;
	-transform: perspective( 1600px ) rotateY( 20deg );
}
#main>p {
	text-align: center;
    color: whitesmoke;
    font-size: 8rem;
    text-shadow: 3px 3px rgba(128, 128, 128, 0.7);
    text-transform: uppercase;
    letter-spacing: -0px;
}
#main>p::first-letter {
    letter-spacing: -16px;
}
